.post-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}

.post-menu-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75px;
  border-right: 1px solid;
  border-image: linear-gradient(white, #e3e3e3, white) 1;;
  padding: 0 44px;
  cursor: pointer;
}

.post-menu-item:last-child {
  border-right: none;
}

.post-menu-item span {
  color: $secondary-grey;
}

.post-menu i.fas {
  font-size: $font-size-large;
  padding-bottom: 10px;
  position: relative;
  top: 0;
  transition: top 0.1s ease-out;
}

.post-menu i.fas:hover {
  top: -3px;
}

.post-menu i.fa-font {
  color: $primary-grey;
}

.post-menu i.fa-camera-retro {
  color: $red;
}

.post-menu i.fa-quote-left {
  color: #f2992e;
}

.post-menu i.fa-link {
  color: #56bc8a;
}

.post-menu i.fa-headphones-alt {
  color: #a77dc2;
}

.post-menu i.fa-video {
  color: #748089;
}