$note-icon-width: 20px;

.note-menu-container {
  font-size: $font-size-main;
  font-weight: 700;
  color: $secondary-grey;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.note-menu {
  display: flex;
  justify-content: space-evenly;
}

.note-menu-item {
  cursor: pointer;
  margin-left: 10px;
  // border: 1px solid red;
  position: relative;
  display: flex;
  align-items: center;
}

.note-menu-item i.fas, 
.note-menu-item i.far {
  font-size: $note-icon-width;
}

.note-menu-item i.fas.fa-heart {
  color: $red;
}

.post-edit-delete.popover {
  position: absolute;
  top: 25px;
  left: 0;
  z-index: 3;
  padding: 4px 0;
}

.post-edit-delete.popover .popover-menu-item {
  width: 128px;
}
