$note-icon-width: 20px;

.note-menu-container {
  font-size: $font-size-main;
  font-weight: 700;
  color: $secondary-grey;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.note-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-height: 20px;
}

.note-menu-item {
  cursor: pointer;
  margin-left: 10px;
  // border: 1px solid red;
  position: relative;
  display: flex;
  align-items: center;
  align-self: flex-end;
}

.note-menu-item i.fas, 
.note-menu-item i.far {
  font-size: $note-icon-width;
}

.note-menu-item i.far.fa-paper-plane {
  font-size: 18px;
  margin-right: 3px;
}

.note-menu-item .heart-icon-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.note-menu-item i.fas.fa-heart {
  color: $red;
}

.note-menu-item i.fas.fa-heart.like-action,
.note-menu-item i.fas.fa-sad-tear.unlike-action {
  position: relative;
  font-size: 50px;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.note-menu-item i.fas.fa-sad-tear.unlike-action {
  animation-name: yAxisSadFace;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(.53,.01,.86,.16);
  animation-fill-mode: both;
}

@keyframes yAxisSadFace {
  0% {
    transform: translate(0, -50px);
    opacity: 1;
  }

  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}

.note-menu-item i.fas.fa-heart.like-action {
  animation-name: yAxisHeart;
  animation-duration: 0.75s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}

@keyframes yAxisHeart {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(0, -50px);
  }
}

.note-menu-item i.fas.fa-heart.like-action::before {
  position: absolute;
  animation-name: xAxisHeart;
  animation-duration: 0.75s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}

@keyframes xAxisHeart {
  0% {
    transform: rotate(0);
    opacity: 1;
  }

  50% {
    transform: rotate(-20deg) translate(-5px, 0);
    opacity: 0.8;
  }
  
  100% {
    transform: rotate(20deg) translate(5px, 0);
    opacity: 0;
  }
}

.post-edit-delete.popover {
  position: absolute;
  top: 25px;
  left: 0;
  z-index: 3;
  padding: 4px 0;
}

.post-edit-delete.popover .popover-menu-item {
  width: 128px;
}
