.chat-popover {
  width: 280px;
  position: absolute;
  top: 40px;
  right: -10px;
}

.chat-popover-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: rgb(231, 231, 231) 1px solid;
}

.chat-popover-header .avatar {
  margin-right: 10px;
}

.chat-popover-header h1 {
  font-size: $font-size-main;
  font-weight: 700;
  flex-grow: 1;
}

.chat-popover a {
  font-size: 12px;
  font-weight: 700;
  color: $secondary-blue;
  cursor: pointer;
}

.chat-popover .scrolling-container {
  max-height: 300px;
}

.chat-popover .popover-menu-item {
  border-bottom: rgb(231, 231, 231) 1px solid;
}

.chat-popover .popover-menu-item:last-of-type {
  border-bottom: none;
}

.chat-popover .popover-menu-item a {
  margin-top: 3px;
}

.chat-form {
  padding: 15px;
}

.chat-form span {
  margin-right: 5px;
}