$blog-bg-color: rgb(250, 250, 250);

.follow-popover {
  width: 280px;
  // position: absolute;
  position: fixed;
  z-index: 8;
  background-color: transparent;
}

.follow-popover-header {
  width: 100%;
  height: 158px;
  background-size: cover;
  background-position: top center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.follow-popover-nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.follow-popover .blog-name {
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.follow-popover .avatar-wrapper{
  position: absolute;
  bottom: -20px;
  margin: 0 auto;
}

.follow-popover .btn {
  color: #4c4c4c;
}

.follow-popover-info {
  width: 100%;
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $blog-bg-color;
  border-radius: 3px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.follow-popover-info h1 {
  font-family: $font-carousel;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 5px;
}

.follow-popover-info h2 {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 5px;
}