.avatar-container {
  // background: blue;
  // position: relative;
  // height: 100%;
}

.avatar {
  border-radius: 3px;
  position: sticky;
  top: 70px; // it will 'stick' at position 70px below the closest parent container with overflow: scroll
}

.avatar-default {
  width: 64px;
  height: 64px;
  background: white;
}