.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 2px;
  text-align: center;
}

.btn-default {
  height: 32px;
  font-size: 14px;
  font-weight: 500;
  padding: 5px 13px;
}

.btn-blue {
  background: rgb(82, 158, 204);
  color: $white;
}

.btn-white {
  background: $white;
  color: black;
  // mix-blend-mode: screen;
  // -webkit-text-fill-color: transparent;
  // -webkit-background-clip: text;
}

// .btn-white a {
//   mix-blend-mode: screen;
// }

.btn-transparent {
  background: $transparent;
  color: $white;
}
