.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 2px;
}

.btn-default {
  height: 32px;
  font-size: 14px;
  font-weight: 500;
  padding: 5px 13px;
  margin: 0 5px;
}

.btn-blue {
  background: rgb(82, 158, 204);
  color: #fff;
}

.btn-white {
  background: white;
  mix-blend-mode: screen;
  // -webkit-text-fill-color: transparent;
  // -webkit-background-clip: text;
}

.btn-transparent {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
}
