.input-text {
  border-radius: 2px;
}

.input-text-default {
  height: 40px;
  background: $white;
  color: $black;
  font-size: $font-size-main;
  font-weight: 400;
  letter-spacing: 0.5px;
}

div[contentEditable=true] {
  cursor: text;
}

// to enable placeholder value for contentEditable divs
div[contentEditable=true]:empty:before {
  content: attr(placeholder);
  // display: block;
  color: $secondary-grey;
}