.logo {
  font-family: $font-logo;
  font-size: 90px;
  font-weight: 700;
  color: white;
}

.navbar-left .logo {
  font-family: $font-logo;
  font-size: 70px;
  line-height: 1;
  width: 60px;
  text-align: center;
}