.popover {
  box-shadow: 1px 1px 5px rgba(202, 202, 202, 0.5);
  // FIX: shadow looks weird
  border-radius: 3px;
  color: #444;
  background: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}

.popover {
  animation-name: popoverfadein;
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
}

@keyframes popoverfadein {
  0% {
    opacity: 0;
    transform: translate(0, -20px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.popover-header {
  background: rgb(242, 242, 242);
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  color: #8f8f8f;
  border-bottom: rgb(231, 231, 231) 1px solid;
  line-height: 15px;
}

.popover-header,
.popover-menu-item {
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popover-menu-item {
  cursor:pointer;
}

.navbar-right-item .popover-menu-item i.fas {
  color: #444;
  font-size: 14px;
  width: 25px;
}

.popover-menu-item:hover {
  background: rgb(230, 239, 247);
}

.popover-item-suffix {
  color: #8f8f8f;
  font-size: 11px;
  font-weight: 400;
  text-transform: none;
}

.popover-item-suffix.link {
  cursor: pointer;
}