$white: #fff;

$off-white: rgb(250, 250, 250);

$black: #000;

$primary-blue: rgb(54, 70, 93);

$secondary-blue: #529ecc;

$background-blue: #e6eff7;

$primary-grey: #444;

$secondary-grey: #8f8f8f;

$background-grey: #f2f2f2;

$green: rgb(86, 188, 138);

$orange: rgb(242, 153, 46);

$red: #d95e40;

$transparent: rgba(0, 0, 0, 0.2);

$white-transparent: rgba(255, 255, 255, 0.4);

$divider-line-white: rgba(255, 255, 255, 0.07);

$divider-line-extra-white: rgba(255, 255, 255, 0.13);