body{
  font-family: $font-main;
  background: $bg-blue;
  overflow: hidden; //so the screen doesn't move when mouse scroll
}

.dashboard {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: scroll; // to allow scrolling thru content in div.dashboard-content even though body is set to overflow: hidden.
  background: red;
}

.dashboard-content {
  min-height: 200vh;
}
