body {
  font-family: $font-main;
  background: $bg-blue;
  overflow: hidden; //so the screen doesn't move when mouse scroll
}

.dashboard {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: scroll; // to allow scrolling thru content in div.dashboard-content even though body is set to overflow: hidden.
}

.dashboard-content {
  width: 1000px;
  min-width: 1000px;
  margin: 0 auto;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 92px;
  display: flex;
  justify-content: space-between;
}

.main-column {
  width: 625px;
}

.side-column {
  width: 320px;
}