<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tumblr Clones</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" charset="utf-8"></script>
    <script src="/bundle.js" charset="utf-8"></script>
  </head>
  <body>

    <main id="root">
      This is root.
    </main>

  </body>
</html>
