// iPhone X and older
@media only screen and (max-width: 812px) {
  .carousel .carousel-indicator {
    display: none;
  }

  .carousel .intro-slide-footer {
    display: none;
  }
  
  .navbar {
    padding-right: 20px;
    padding-left: 0;
  }

  .side-column {
    display: none;
  }

  .main-column {
    width: 100vw;
  }

  .dashboard {
    -webkit-overflow-scrolling: touch; // for momentum scrolling on mobile
  }

  .dashboard-content {
    width: 100vw;
    min-width: 100vw;
    padding-top: 40px;
    padding-left: 0;
    padding-right: 0;
  }

  .post-index .loading-post-index {
    width: 100%;
    align-self: center;
  }

  .post-menu-container {
    display: none;
  }

  .post-show-item > .avatar-container { // so that small avatar is not hidden in mobile view
    display: none;
  }

  .post-content {
    width: 100%;
    border-radius: 0;
  }

  .post-blank {
    margin-top: 50px;
    align-self: center;
    width: 50%;
    font-size: 16px;
  }

  .post-blank .not-found-icon {
    height: 50px;
  }

  // TODO: to implement mobile versions next time
  .post-content .dogear {
    display: none;
  }

  .follow-popover {
    display: none;
  }

  .drawer-wrapper {
    display: none;
  }

  .note-menu-item .fas.fa-cog {
    display: none;
  }

  .note-menu-item .far.fa-comment {
    display: none;
  }

}



