.swipe-left {
  animation-delay: 0.4s;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-name: animateswipeleft;
  // will apply style from first and last keyframe before and after animation
  animation-fill-mode: both;
}

@keyframes animateswipeleft {
  0% {
    margin-left: 200%;
  }

  100% {
    margin-left: 0;
  }
}

.slide-down-container {
  // display: inline;
  // height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-name: animateslidedown;
  animation-fill-mode: both;
  z-index: -100;
}

.slide-down {
}

@keyframes animateslidedown {
  0% {
    height: 40px;
    // top: 0;
    // position: relative;
  }


  100% {
    height: 100%;
    // top: 300%;
    // position: absolute;
    // top: 200px;
    // position: relative;
  }
}
