.swipe-left {
  animation-delay: 0.3s;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-name: animateswipeleft;
  // will apply style from first and last keyframe before and after animation
  animation-fill-mode: both;
}

@keyframes animateswipeleft {
  0% {
    margin-left: 100%;
  }

  100% {
    margin-left: 0;
  }
}

.slide-down-container {
  position: absolute;
  top: 0;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  animation-delay: 0.1s;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-name: animateslidedown;
  animation-fill-mode: both;
  z-index: -100;
}


@keyframes animateslidedown {
  0% {
    height: 40px;
  }

  100% {
    height: 100%;
  }
}


.object-fade-in {
  animation-delay: 0.1s;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-name: objectfadein;
  animation-fill-mode: both;
}

@keyframes objectfadein {
  0% {
    position: relative;
    top: 20px;
    opacity: 0;
  }

  100% {
    position: relative;
    top: 0;
    opacity: 1;
  }
}

.footer-slide-up {
  animation-delay: 0.5s;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-name: footerslideup;
  animation-fill-mode: both;
}

@keyframes footerslideup {
  0% {
    bottom: -50px;
  }

  100% {
    bottom: 0;
  }
}
