.post-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}

.post-menu-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75px;
  border-right: 1px solid;
  border-image: linear-gradient(white, #e3e3e3, white) 1;;
  padding: 0 44px;
}

.post-menu-item:last-child {
  border-right: none;
}

.post-menu-item span {
  color: #696969;
}

i {
  font-size: 42px;
  padding-bottom: 10px;
}

i.fa-font {
  color: #444;
}

i.fa-camera-retro {
  color: #d95e40;
}

i.fa-quote-left {
  color: #f2992e;
}

i.fa-link {
  color: #56bc8a;
}

i.fa-headphones-alt {
  color: #a77dc2;
}

i.fa-video {
  color: #748089;
}