.account-popover {
  width: 240px;
  position: absolute;
  top: 40px;
  right: -10px;
}

.blog-item {
  width: 100%;
  height: 57px;
  display: flex;
  align-items: center;
}

.blog-item-info {
  display: flex;
  justify-content: space-between;
}

.blog-item-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-grow: 1;
  margin-left: 10px;
  line-height: 1;
}

.blog-item-details-name {
  font-weight: 700;
}

.blog-item-details-title {
  font-weight: 400;
  color: #8f8f8f;
}

.blog-item-nav {
  padding-left: 47px;
}

.blog-item-nav li {
  padding: 5px 0;
}