
.carousel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-indicator {
  z-index: 2;
  align-self: flex-start;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel-dot {
  border: 5px solid $transparent;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.intro-slide {
  background: $intro-slide-bg;
}
.about-slide {
  background: $green;
}
.create-slide {
  background: $orange;
}
.welcome-slide {
  background: $welcome-slide-bg;
}

.intro-slide,
.about-slide,
.create-slide,
.welcome-slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
  // display: none;
  // transition: display 0s linear 0.3s;
  opacity: 0;
  transition: opacity 0s linear 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.active {
  opacity: 1;
  transition: opacity 0s linear;
}

.slideup {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  animation-name: carouselslideup;
  animation-fill-mode: both;
}

@keyframes carouselslideup {
  0% {
    top: 0;
  }

  100% {
    top: -100vh;
  }
}

.slidedown {
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  animation-name: carouselslidedown;
  // will apply style from first and last keyframe before and after animation
  animation-fill-mode: both;
}

@keyframes carouselslidedown {
  0% {
    top: -100vh;
  }

  100% {
    top: 0;
  }
}
