
.carousel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-indicator {
  z-index: 2;
  align-self: flex-start;
  height: 100%;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel-dots {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.carousel-dot {
  border: 3px solid $white-transparent;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.carousel-dot.active {
  background: white;
}

.carousel-dot:hover {
  border: 3px solid $white;
  cursor: pointer;
}

.intro-slide {
  background: $intro-slide-bg; //FIX: figure out how to fade in bg image
  transition: opacity 0.5s linear;
}
.about-slide {
  background: $green;
}
.create-slide {
  background: $orange;
}
.welcome-slide {
  background: $welcome-slide-bg;
}

.intro-slide,
.about-slide,
.create-slide,
.welcome-slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 0s linear 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.active {
  top: 0vh;
  opacity: 1;
  z-index: 1;
  transition: opacity 0s linear;
  transition: z-index 0s linear 0.5s;
}

.slideup {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  animation-name: carouselslideup;
  animation-fill-mode: both;
}

@keyframes carouselslideup {
  0% {
    top: 0;
  }

  100% {
    top: -100vh;
  }
}

.slidedown {
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  animation-name: carouselslidedown;
  // will apply style from first and last keyframe before and after animation
  animation-fill-mode: both;
}

@keyframes carouselslidedown {
  0% {
    top: -100vh;
  }

  100% {
    top: 0;
  }
}

.intro-slide-content,
.welcome-slide-content {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  max-width: 800px;
}

.intro-slide-footer {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 500;
  background: $green;
  box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
}

.welcome-slide-title {
  font-size: 60px;
  text-align: center;
}
