.carousel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-slide {
  background: url('https://wallpapers.moviemania.io/desktop/movie/105/28f908/back-to-the-future-desktop-wallpaper.jpg?w=3000&h=1695');
}
.about-slide {
  background: $green;
}
.create-slide {
  background: $orange;
}
.welcome-slide {
  background: url('https://wallpapers.moviemania.io/desktop/movie/335984/e85174/blade-runner-2049-desktop-wallpaper.jpg?w=3000&h=1695');
}

.intro-slide,
.about-slide,
.create-slide,
.welcome-slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
  display: none;
}

.active {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slideup {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-name: carouselslideup;
  animation-fill-mode: both;
}

@keyframes carouselslideup {
  0% {
    top: 0;
  }

  100% {
    top: -100vh;
  }
}

.slidedown {
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-name: carouselslidedown;
  // will apply style from first and last keyframe before and after animation
  animation-fill-mode: both;
}

@keyframes carouselslidedown {
  0% {
    top: -100vh;
  }

  100% {
    top: 0;
  }
}
