$drawer-width: 600px;

.drawer {
  position: absolute;
  top: 0;
  right: 0;
  width: $drawer-width;
  height: inherit;
  overflow: scroll;
  z-index: 1;
}

.background-greyout.bg-fade-in {
  animation-duration: 0.2s;
}

.drawer-slide-in {
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-name: drawerslidein;
  animation-fill-mode: both;
}

@keyframes drawerslidein {
  0% {
    right: -600px;
  }

  100% {

    right: 0;
  }
}

.drawer-slide-out {
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-name: drawerslideout;
  animation-fill-mode: both;
}

@keyframes drawerslideout {
  0% {
    right: 0;
  }

  100% {
    right: -600px;
  }
}

// BLOG DRAWER
.blog-drawer {
  min-height: 100vh;
  background-color: $off-white;
}


.blog-drawer-header-image {
  height: 338px;
  background-color: grey;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.blog-drawer-nav {
  width: $drawer-width;
  // height: 40px;
  padding: 10px;
  position: fixed;
  top: 0;
  z-index: 2; 
  background-image: linear-gradient(rgba(68, 68, 68, 0.5), rgba(255, 255, 255, 0));
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog-drawer-nav .blog-name {
  font-size: $font-size-main;
  font-weight: 600;
  padding-left: 5px;
}

.blog-drawer-nav .btn {
  display: inline;
}

.blog-drawer-avatar-wrapper {
  height: 100px;
  width: 100px;
  margin: 0 auto;
  margin-top: -72px;
  margin-bottom: 20px;
  border-radius: 4px;
  background-color: $off-white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-drawer-avatar-wrapper .avatar {
  // padding: 2px;
}

.blog-drawer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 50px;
  padding-top: 0;
}

.blog-drawer-info .blog-title {
  font-size: $font-size-large;
  margin-bottom: 5px;
  font-family: $font-carousel;
  font-weight: 600;
}

.blog-drawer-info .blog-description {
  font-size: $font-size-main;
  font-weight: 400;
}

.blog-drawer-posts {
  padding: 30px;
}

.blog-drawer-posts .post-content {
  box-shadow: 0 0 0 1px rgba(0,0,0,.08);
}

.blog-drawer-posts .post-content .dogear {
  background-image: linear-gradient(45deg, #d0d0d0 50%, $off-white 50%);
  top: -1px;
  right: -1px;
}

// CREDITS DRAWER
.credits {
  height: inherit;
  width: inherit;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.credits .slide-title {
  margin-bottom: 30px;
}

.credits-list {
  text-align: center;
  flex-grow: 1;
}

.credit-item {
  padding: 10px;
  margin-bottom: 10px;
}

.credit-link {
  display: block;
  font-weight: 600;
  margin-bottom: 10px;
}

.copyright-disclaimer {
  font-family: $font-carousel;
  font-size: 0.8em;
  margin-top: 10px;
}