.modal-container, 
.confirm-modal,
.confirm-modal-options {
  display: flex;
  justify-content: center;
  align-items: center;  
}

.post-modal,
.confirm-modal {
  font-size: $font-size-subtitle;
  color: white;
  width: 370px;
  flex-direction: column;
}

.confirm-modal {
  animation-name: modalfadein;
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
}

@keyframes modalfadein {
  0% {
    opacity: 0;
    transform: translate(0, 20px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.confirm-modal-message {
  text-align: center;
}

div.confirm-modal-options {
  flex-direction: row;
  margin-top: 15px;
}

.confirm-modal-options .btn {
  display: inline-block;
  font-size: 16px;
  height: 45px;
  width: 140px;
  margin: 0 5px;
  font-weight: 700;
}