.navbar {
  z-index: 4;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  border-bottom: 1px solid $divider-line-extra-white;
  background: $primary-blue;
}


.navbar.guest {
  background: transparent;
  border: none;
}

.navbar-left, 
.navbar-right {
  height: 54px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: inherit;
}

.navbar-left {
  flex-grow: 1;
}

.navbar-right-item {
  height: 32px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.navbar-right-item i.fas {
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  cursor: pointer;
}

.navbar-right-item .active i.fas {
  color: white;
}

.navbar-right-item i.fas.fa-pen-square {
  font-size: 30px;
  color: $secondary-blue;
}

.navbar .btn {
  display: none;
}


.navbar .btn.active {
  display: flex;
  margin: 0 5px;
  animation: swipein 0.2s ease-in 1 normal both;
}

@keyframes swipein {
  0% {
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    min-width: 0;
    padding: 0;
    opacity: 0;
  }

  100% {
    white-space: nowrap;
    overflow: visible;
    width: 80px;
    min-width: 80px;
    padding: 5px 13px;
    opacity: 1;
  }
}


