.navbar {
  z-index: 10;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // background: inherit;
}

.navbar-right {
  height: 54px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  background: inherit;
}
