$post-content-width: 540px;

$dogear-grey: rgb(208, 208, 208);

.post-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.post-show-item,
.post-menu-container,
.post-form-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.post-menu,
.post-content, 
.post-form {
  width: $post-content-width;
  border-radius: 3px;
  padding-top: 15px;
  background: white;
  position: relative;
}


.dogear {
  display: inline-block;
  height: 0px;
  width: 0px;
  background: linear-gradient(45deg, $dogear-grey 50%, $bg-blue 50%);
  position: absolute;
  top: 0;
  right: 0;
  border-bottom-left-radius: 5px;
  transition: 0.2s ease-out;
  cursor: pointer;
}

.post-content:hover .dogear{
  height: 15px;
  width: 15px;
}

.post-header, 
.post-footer, 
.post-main {
  padding: 0px 20px;
  margin-bottom: 10px;
}

.post-header {
  font-size: 13px;
  font-weight: bold;
}

.post-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post-title, 
.post-body {
  align-self: flex-start;
  margin-bottom: 10px;
}

.post-title {
  font-size: 36px;
}

.post-body {
  font-size: 14px;
  font-weight: 400;
  font-stretch: 100%;
  margin-top: 15px;
}

.post-photo {
  width: calc(100% + 40px); // to cover width of post-content
  margin-bottom: 5px;
}



.tag-index {
  font-size: 13px;
  color: #8f8f8f;
  margin-top: 15px;
}

.note-menu {
  font-size: 14px;
  font-weight: 700;
  color: #8f8f8f;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
