.post-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.post-form,
.post-form-container .avatar {
  z-index: 6;
}

.post-form .post-body {
  min-width: 500px;
  min-height: 80px;
}

.post-form .post-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}


// For PostFormPhoto

.post-form .media-upload-dropzone {
  width: calc(100% + 40px);
  display: flex;
  background-color: #f2f2f2;
  border-top: 1.5px dashed rgb(203,203, 203);
  border-bottom: 1.5px dashed rgb(203,203, 203);
}

.post-form .media-upload-dropzone.active {
  background-color: #e6eff7;
}


.post-form .media-upload-dropzone .media-upload, 
.post-form .media-upload-dropzone .media-link {
  height: 196px;
  width: 50%;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  color: #989898;
}

.post-form .media-upload-dropzone .media-upload {
  border-right: 1px solid rgb(203,203, 203);
}

.post-form .media-upload-dropzone .media-upload-small {
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 14px;
  cursor: pointer;
  color: #989898;
}

.post-form .media-upload-dropzone .media-upload-small .fas {
  margin-right: 5px;
}

.post-form .inputfile {
  display: none;
}

.media-upload .fas,
.media-link .fas {
  font-size: 50px;
}


.post-form .post-photo {
  position: relative; // to allow remove-preview icon to float above image
}

.post-form .post-photo img {
  width: 100%; // to cover width of post-content
}

.post-photo .remove-icon {
  display: inline-flex;
  position: absolute;
  top: -10px;
  right: -10px;
  height: 20px;
  width: 20px;
  color: #d95e40;
  background: white;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.1s linear;
}

.post-photo:hover .remove-icon {
  opacity: 1;
}

.post-photo .remove-icon .fa-minus-circle {
  font-size: 22px;
  cursor: pointer;
}
