$post-content-width: 540px;

$dogear-grey: rgb(208, 208, 208);

.post-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.post-index .loading-post-index {
  width: $post-content-width;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  padding: 30px 0;
}

// FIX: think of a better way to render follow popover so that it doesn't depend on ordering of lis
.post-container {
  display: flex;
  flex-direction: column-reverse; 
}

.post-show-item,
.post-menu-container,
.post-form-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.post-show-item {
  flex-direction: row-reverse; // so that the avatar appears left of post content
}

.post-show-item .avatar {
  position: sticky;
  top: 70px; // it will 'stick' at position 70px against the closest parent container with overflow: scroll
}

.post-menu,
.post-content, 
.post-form {
  width: $post-content-width;
  border-radius: 3px;
  padding-top: 15px;
  background: white;
  position: relative;
}

.dogear {
  display: inline-block;
  height: 0px;
  width: 0px;
  background: linear-gradient(45deg, $dogear-grey 50%, $bg-blue 50%);
  position: absolute;
  top: 0;
  right: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 5px;
  transition: 0.2s ease-out;
  cursor: pointer;
}

.post-content:hover .dogear{
  height: 15px;
  width: 15px;
}

.post-header, 
.post-footer, 
.post-main {
  padding: 0px 20px;
  margin-bottom: 10px;
}

.post-header {
  font-size: 13px;
  font-weight: bold;
}

.post-blog-name {
  display: inline-flex;
  justify-content: center;
  position: relative;
}

.post-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post-title, 
.post-body,
.post-quote,
.post-source {
  align-self: flex-start;
  margin-bottom: 10px;
}

.post-title {
  font-size: 36px;
}

.post-source, 
.post-body {
  font-size: 14px;
  font-weight: 400;
  font-stretch: 100%;
  margin-top: 15px;
}

.post-quote {
  font-size: 36px;
  font-family: 'Courier New', Courier, monospace;
}

div.post-quote {
  display: flex;
}

h1.post-quote div {
  display: inline;
}

.post-quote:before,
.post-quote:after {
  content: '"';
}

.post-quote:before {
  align-self: flex-start;
}

.post-quote:after {
  align-self: flex-end;
}

.post-source {
  color: #444;
}

.post-source::before {
  font-family: 'Helvetica Neue';
  content: '— ';
}

// to override reset for html in post body
.post-body i {
  font-style: italic;
}

.post-body b {
  font-weight: bold;
}


.post-photo {
  width: calc(100% + 40px); // to cover width of post-content
  margin-bottom: 5px;
  border-radius: 0;
}

.post-link {
  position: relative;
  width: calc(100% + 40px);
  padding: 20px 20px;
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
}

.post-link-url,
.post-link-image,
.post-link-title, 
.post-link-desc {
  color: #444;
  margin-bottom: 15px;
}

.post-link-desc {
  margin-bottom: 0;
}

.post-link-url {
  font-size: 13px;
  font-weight: 700;
}

.post-link-title {
  font-size: 24px;
  font-weight: 700;
}

.post-link-desc {
  font-size: 14px;
  font-weight: 400;
  resize: none;
}


.tag-index {
  font-size: 13px;
  color: #8f8f8f;
  margin-top: 15px;
}

