.post-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.post-form,
.post-form-container .avatar {
  z-index: 6;
}

.post-form .post-body {
  min-width: 500px;
  min-height: 80px;
}

.post-form .post-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}