.post-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.post-form,
.post-form-container .avatar {
  z-index: 6;
}

.post-form .post-body {
  min-width: 500px;
  min-height: 80px;
}

.post-form .post-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}


// For PostFormPhoto

.post-form .media-upload {
  width: 100%;
  height: 196px;
  display: flex;
}

.post-form .media-upload .photo-upload, 
.post-form .media-upload .photo-link {
  border: 1px solid red;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-form .photo-upload input {
  height: 100%;
  width: 100%;
}

.post-form .post-photo {
  position: relative; // to allow remove-preview icon to float above image
}

.post-form .post-photo img {
  width: 100%; // to cover width of post-content
}

.post-photo .remove-icon {
  display: inline-flex;
  position: absolute;
  top: -10px;
  right: -10px;
  height: 20px;
  width: 20px;
  color: #d95e40;
  background: white;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.1s linear;
}

.post-photo:hover .remove-icon {
  opacity: 1;
}

.post-photo .remove-icon .fa-minus-circle {
  font-size: 22px;
  cursor: pointer;
}
