$session-form-input-text-height: 40px;

.session-form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 300px;
  max-width: 300px;
  overflow: hidden;
  margin-top: 20px;
  z-index: 3;
}

// to create placeholder space for the submit button to end up in
.session-form::after {
  display: inline-block;
  height: $session-form-input-text-height + 45px;
  content: 'text';
  visibility: hidden;
}

.session-form.get-started {
  display: inline-block;
  height: 208px;
}

.session-form.get-started .btn {
  margin-bottom: 10px;
}

.session-form .demo-link {
  padding: 5px;
  font-weight: 700;
  font-size: 13px;
  text-align: center;
  background: rgba(0,0,0,0.2);
  border-radius: 3px;
  margin-top: 10px;
}

.session-form .demo-link.object-fade-in {
  animation-delay: 0.5s;
}

.session-form .input-text,
.session-form .btn {
  min-width: 100%;
  min-height: $session-form-input-text-height;
  height: $session-form-input-text-height;
  padding: 5px;
}

.session-form .input-text {
  margin-bottom: 1px;
}
