$session-form-input-text-height: 40px;

.session-form {
  // position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  max-width: 300px;
  overflow: hidden;
  margin-top: 20px;
  z-index: 3;
}

// to create placeholder space for the submit button to end up in
.session-form::after {
  display: inline-block;
  height: $session-form-input-text-height + 5px;
  content: 'text';
  visibility: hidden;
}

.session-form.get-started {
  display: inline-block;
  height: 168px;
}

.session-form.get-started .btn {
  margin-bottom: 10px;
}

.session-form .input-text,
.session-form .btn {
  min-width: 100%;
  min-height: $session-form-input-text-height;
  height: $session-form-input-text-height;
  padding: 5px;
}

.session-form .input-text {
  margin-bottom: 1px;
}
