.session-form {
  position: absolute;
  top: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  max-width: 300px;
  overflow: hidden;
}

.session-form .input-text, .session-form .btn {
  min-width: 100%;
  min-height: 40px;
  height: 40px;
  padding: 5px;
}

.session-form .input-text {
  margin-bottom: 1px;
  position: relative;
}

.session-form .btn {
  // margin-top: 5px;
  // position: relative;
  position: absolute;
  top: 0;
  left: 0;
}

// .session-form input[type='password'].input-text {
//   border-radius: none;
// }
