.sidemenu-header {
  font-size: 13px;
  padding: 7px 10px;
}
.sidemenu-header h1,
.sidemenu-item {
  font-weight: 700;
  color: hsla(0,0%,100%,.6);
}

.sidemenu-header h2,
.sidemenu-count  {
  font-weight: 400;
  color: hsla(0,0%,100%,.25);
}

.sidemenu-link {
  padding: 0 10px;
  font-size: 14px;
  line-height: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.07);
  cursor: pointer;
}

.sidemenu-link:last-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.07);
}

.sidemenu-link:hover {
  background: hsla(0,0%,100%,.07);
}