.sidemenu {
  position: sticky;
  top: 92px;
}

.sidemenu-header {
  font-size: 13px;
  padding: 7px 10px;
  border-bottom: 2px solid $divider-line-white;
}
.sidemenu-header h1,
.sidemenu-item {
  font-weight: 700;
  color: hsla(0,0%,100%,.6);
}

.sidemenu-header h2,
.sidemenu-count  {
  font-weight: 400;
  color: hsla(0,0%,100%,.25);
}

.sidemenu-link {
  padding: 0 10px;
  font-size: 14px;
  line-height: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $divider-line-white;
  cursor: pointer;
}

.sidemenu-link:last-of-type {
  border-bottom: 1px solid $divider-line-white;
}

.sidemenu-link:hover,
.sidemenu-link.active {
  background: hsla(0,0%,100%,.07);
}

// CONNECT SECTION
.connect {
  margin-top: 30px;
}

.connect-header,
.connect-item {
  padding: 5px 10px;
}

.connect-header {
  font-size: 12px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.25);
  border-bottom: 2px solid $divider-line-white;
}

.connect-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $divider-line-white;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  padding-right: 12px;
}

.connect-item:hover {
  background-color: hsla(0,0%,100%,.07);
}

.connect-item .fab,
.connect-item .fas.fa-envelope-square, 
.connect-item .fas.fa-file-download {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 37px;
  transition: all 0.35s ease-in-out;
}

.connect-item:hover .fas.fa-envelope-square {
  color:#435268;
  background-color: white;
}

.connect-item:hover .fas.fa-file-download {
  color: white;
}

.connect-item:hover .fab.fa-linkedin {
  color: #0075b7;
  background-color: white;
}
.connect-item:hover .fab.fa-github-square {
  color: #24292e;
  background-color: white;
}


.connect-item .fas.fa-plus-square {
  font-size: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18px;
  width: 18px;
}

.connect-item .resume-icon {
  width: 37px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0;
  margin-right: 10px;
}


.connect-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  font-size: 13px;
}

.connect-info strong {
  font-weight: 700;
}

.connect-info span {
  color: rgba(255, 255, 255, 0.25);
}

