.tag-form {
  font-size: $font-size-small;
  color: $secondary-grey;
  margin: 10px 0;
  width: 100%;  
  display: flex;
  flex-direction: row-reverse; // so that tab input is at the end of tag list, but still first in tab order
  justify-content: flex-end;
  align-items: center;
}

.tag-input {
  display: inline-block;
  width: 50px;
  padding: 5px;
  color: $primary-grey;
}

.tag-input::placeholder {
  color: rgba(0,0,0,.3);
}

.tag-label {
  display: inline-block;
  padding: 5px;
  margin-right: 1px;
  cursor: pointer;
}

.tag-label.hover, 
.tag-label.active {
  color: $secondary-blue;
  background-color: $background-blue;
  border-radius: 3px;
}